---
layout: default
active: home
---

<div class="container">
  <table width="100%">
      <tbody>
          <tr>
              <td>
                  <section>
                    <p><h2>About me</h2>
                      Welcome to my personal website. I'm currently a HDSI Postdoc Fellow at the <a href="https://datascience.ucsd.edu"> Halιcιoğlu Data Science Institute,</a> <a href="https://www.ucsd.edu"> University of California San Diego</a>. My mentors are <a href="http://mishne.ucsd.edu">Gal Mishne</a> and <a href="http://yusu.belkin-wang.org">Yusu Wang</a>.
                      <br>
                      <br>
                      I obtained my PhD in Mathematics from <a href="https://math.osu.edu">the Ohio State University</a>. My advisor is <a href="http://facundo-memoli.org">Facundo Mémoli</a>. I earned my Bachelor's degree in Mathematics at <a href="https://www.math.pku.edu.cn">Peking University</a> in 2016.
                    <br>
                    <br>
                    Here is my current <a href="cv.pdf">CV</a>.</p>
                    <br>
                    <br>
                    I am currently on the job market and looking for Tenure-track positions!
                  
                  </section>
              </td>
              <td style="text-align:right;">
                  <div class="container title-image">
                    <figure class="figure">
                      <img class="figure-img img-fluid rounded" src="images/me.jpg" alt="A picture of me" style="width:400px">
                    </figure>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
  
 

  
  <hr>
  <section>
      <h3>Research Interests</h3>
      <p>My primary research interests lie in the development of novel mathematical tools and frameworks for understanding and analyzing complex data, with a focus on geometric and topological data analysis. My work spans across multiple domains, including probability theory, geometry, graph theory, and machine learning.
      </p>
      <hr>
    <h3>Check out my recent papers!</h3>
    <ul>
    {% for paper in site.data.papers.papers %}
        {% assign imgIndex = {{forloop.index}} %}
        {%if imgIndex<=1 %}
          <p><li>{% if paper.link %}<a href="{{ paper.link }}">{{ paper.title }}</a> {% else %} {{ paper.title }} {% endif %}
              {% if paper.coauthors %} (With {{ paper.coauthors }}.) {% endif %}
              {% if paper.publishedat %} <span style="font-style: italic">{{ paper.publishedat }}.</span> {% endif %}
              {% if paper.description %}<br> {{ paper.description }} {% endif %}</li></p>
        {% endif %}
    {% endfor %}
    </ul>
    <ul>
      {% for paper in site.data.conference.papers %}
          {% assign imgIndex = {{forloop.index}} %}
          {%if imgIndex<=2 %}
            <p><li>{% if paper.link %}<a href="{{ paper.link }}">{{ paper.title }}</a> {% else %} {{ paper.title }} {% endif %}
                {% if paper.coauthors %} (With {{ paper.coauthors }}.) {% endif %}
                {% if paper.publishedat %} <span style="font-style: italic">{{ paper.publishedat }}.</span> {% endif %}
                {% if paper.description %}<br> {{ paper.description }} {% endif %}</li></p>
          {% endif %}
      {% endfor %}
      </ul>
    Full publication list is <a href="research.html">here</a>. 
  </section>
  <hr>
  <section>
      <h3>Contacts</h3>
      <p><b>Email: </b> zcwan[at]ucsd.edu.</p>
      
      <p><b>Address: </b> Office 174, 3234 Matthews Ln, La Jolla, CA 92093</p>
  </section>
  <hr>
</div>
