---
layout: base
active: research
opengraph:
  title: Zhengchao Wan's Research
---

<div class="container">
  <section>
      
    <h2>Research</h2>
    <br>
    <p> Here is my <a href="https://scholar.google.com/citations?hl=en&user=kmTKYtoAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar Page</a>.</p>
    <hr>
    <h3> Preprints </h3>
    <br>
    <table width="100%">
        {% for paper in site.data.preprints.papers %}
            <tr>
                    {% if paper.link %}<a href="{{ paper.link }}">{{ paper.title }}</a> {% else %} {{ paper.title }} {% endif %}
                    {% if paper.coauthors %} (With {{ paper.coauthors }}.) {% endif %}
                    {% if paper.publishedat %} <span style="font-style: italic">{{ paper.publishedat }}.</span> {% endif %}
                    {% if paper.code %} <a href="{{ paper.code }}"> Code available </a> {% endif %}
                    {% if paper.description %} {{ paper.description }} {% endif %}
            </tr>
            <br>
        {% endfor %}
    </table>
    <hr>
    <h3> Journal/Conference papers </h3>
    <br>
    <table width="100%">
      {% for paper in site.data.papers.papers %}
          <tr>
                  {% if paper.link %}<a href="{{ paper.link }}">{{ paper.title }}</a> {% else %} {{ paper.title }} {% endif %}
                  {% if paper.coauthors %} (With {{ paper.coauthors }}.) {% endif %}
                  {% if paper.publishedat %} <span style="font-style: italic">{{ paper.publishedat }}.</span> {% endif %}
                  {% if paper.code %} <a href="{{ paper.code }}"> Code available </a> {% endif %}
                  {% if paper.description %} {{ paper.description }} {% endif %}
          </tr>
          <br>
      {% endfor %}
  </table>
<!--    <ul>-->
<!--    {% for paper in site.data.papers.papers %}-->
<!--      <p><li>{% if paper.link %}<a href="{{ paper.link }}">{{ paper.title }}</a> {% else %} {{ paper.title }} {% endif %}-->
<!--          {% if paper.coauthors %} (With {{ paper.coauthors }}.) {% endif %}-->
<!--          {% if paper.publishedat %} <span style="font-style: italic">{{ paper.publishedat }}.</span> {% endif %}-->
<!--          {% if paper.code %}  <a href="{{ paper.code }}"> Code available </a> {% endif %}-->
<!--          {% if paper.description %} {{ paper.description }} {% endif %}</li>-->
<!--      </p>-->
<!--    {% endfor %}-->
<!--    </ul>-->
  </section>
<!--  <section>
    <h2>Whitepapers</h2>
    <ul>
    {% for paper in site.data.papers.whitepapers %}
      <li>{% if paper.link %}<a href="{{ paper.link }}">{{ paper.title }}</a> {% else %} {{ paper.title }} {% endif %}
          {% if paper.publishedas %} As {{ paper.publishedas }}. {% endif %}
          {% if paper.coauthors %} (With {{ paper.coauthors }}.) {% endif %}
          {% if paper.publishedat %} <span style="font-style: italic">{{ paper.publishedat }}.</span> {% endif %}
          {% if paper.description %} {{ paper.description }} {% endif %}</li>
    {% endfor %}
    </ul>
  </section>-->
</div>
